body {
    background-color: rgb(41, 53, 54);
    font-family: Verdana, sans-serif;
}

body,
a {
    color: rgb(241, 241, 241);
}

h1 {
    text-align: center;
}

#recipe-list {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

#recipe-list a {
    border: 2px solid;
    padding: 10px;
    margin: 5px;
}

.cooked {
    width: auto;
    height: 400px;
}